{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    Some of the airlines that can be stored as part of the collection are: 
  </h2>

  <div class="ui centered cards">
    {{#each developers}}
      {{> card}}
    {{/each}}
  </div>
  <br>
  <h2 class = "ui header">You may find us on the following locations!
  </h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2428.2359396769284!2d13.440805815552498!3d52.51106907981249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e438bc65e9f%3A0x6bf6d41ba1fc757c!2sBerghain%20%7C%20Panorama%20Bar!5e0!3m2!1sen!2sie!4v1680093655013!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

{{> footer}}